@media (max-width: 1024px)  {
	.admin-transactions__header {
		flex-direction: column !important;
		align-items: center !important;
	}
	.admin-transactions__dates {
		margin-left: 0 !important;
	}
}

/********** MAIN **********/

.admin-container {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.admin-container__content_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.admin-container__header {
	width: 100%;
	justify-content: center;

	box-shadow: inset 0 -1px 0 0 var(--lumo-contrast-10pct);
}

.admin-container__content {
    height: 100%;
}


/********** COMPANIES **********/

.admin-companies {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.admin-companies__header {
	display: flex;
    flex-direction: row;
    margin: 5px 5px 0 5px;
    align-items: baseline;
}

.admin-companies__header vaadin-text-field {
    width: 100%;
}
.admin-companies__header vaadin-menu-bar {
    margin-left: var(--lumo-space-s);
}

.admin-companies__content {
    height: 100%;
    margin: 2px 5px 2px 5px;
}

.admin-companies__company_admin {
	display: flex;
    flex-direction: column;
    height: 100%;
}

.admin-companies__form-wrapper {
	overflow: auto;
	height: 100%;
}

.admin-companies__form-wrapper > .form {
	margin: var(--lumo-space-m);
}

.admin-companies__company_admin > .footer-content {
    justify-content: flex-end;
}






/********** PERSONNEL **********/

.admin-personnel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.admin-personnel__header {
	display: flex;
    flex-direction: row;
    margin: 5px 5px 0 5px;
    align-items: baseline;
}
.admin-personnel__header vaadin-text-field {
    width: 100%;
}
.admin-personnel__header vaadin-menu-bar {
    margin-left: var(--lumo-space-s);
}

.admin-personnel__content {
    height: 100%;
    margin: 2px 5px 2px 5px;
}


/********** INVENTORY **********/

.admin-inventory {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.admin-inventory__header {
    display: flex;
    flex-direction: column;
    margin: 5px 5px 0 5px;
    align-items: baseline;
}

.admin-inventory__header-top {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: baseline;
}

.admin-inventory__header-top > vaadin-text-field {
	flex-grow: 1;
	margin-right: var(--lumo-space-s);
}

.admin-inventory__header-top > vaadin-button {
	margin-right: var(--lumo-space-s);
}


.admin-inventory__header-bottom {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.admin-inventory__filters {
	display: flex;
	flex-direction: row;
	width: 100%;
    align-items: baseline;
    justify-content: space-evenly;
}



.admin-inventory__content {
    height: 100%;
    margin: 2px 5px 2px 5px;
}


/********** TRANSACTIONS **********/
.admin-transactions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.admin-transactions__header {
	display: flex;
    flex-direction: row;
    margin: 5px 5px 0 5px;
    align-items: baseline;
}
.admin-transactions__header vaadin-text-field {
    width: 100%;
    padding-top: 0 !important;
}
.admin-transactions__header vaadin-menu-bar {
    margin-left: var(--lumo-space-s);
}

.admin-transactions__dates > vaadin-date-picker {
	max-width: var(--date-picker-width);
}

.admin-transactions__content {
    height: 100%;
    margin: 2px 5px 2px 5px;
}