@media (max-width: 1024px)  {

    .admin-inventory__filters > vaadin-combo-box {
    	min-width: 50%;
    }
}

/********** MAIN **********/

.admin-container {
	width: 100%;
	display: flex;
	flex-direction: row;
}

.admin-container__content {
    height: 100%;
    width: 100%;
}


/********** COMPANIES **********/

.admin-companies {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.admin-companies__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.admin-companies__header {
	display: flex;
    flex-direction: row;
    margin: var(--lumo-space-xs) var(--lumo-space-xs) 0;
    align-items: center;
}

.admin-companies__header vaadin-text-field {
    width: 100%;
}

.admin-companies__header vaadin-menu-bar {
    margin-left: var(--lumo-space-s);
}

.admin-companies__content {
    height: 100%;
    margin: var(--lumo-space-xs);
}

.admin-companies__company_admin {
	display: flex;
    flex-direction: column;
    height: 100%;
	width: 100%;
    align-items: center;
}

.admin-companies__form-wrapper {
	overflow: auto;
	height: 100%;
	width: 50vw;
}

.admin-companies__form-wrapper > .form {
	margin: var(--lumo-space-m);
}

.admin-companies__company_admin > .footer-content {
    justify-content: flex-end;
}






/********** PERSONNEL **********/

.admin-personnel {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.admin-personnel__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.admin-personnel__header {
	display: flex;
    flex-direction: row;
    margin: var(--lumo-space-xs) var(--lumo-space-xs) 0;
    align-items: baseline;
}
.admin-personnel__header vaadin-text-field {
    width: 100%;
}
.admin-personnel__header vaadin-menu-bar {
    margin-left: var(--lumo-space-s);
}

.admin-personnel__content {
    height: 100%;
    margin: var(--lumo-space-xs);
}


/********** INVENTORY **********/

.admin-inventory {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.admin-inventory__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.admin-inventory__header {
    display: flex;
    flex-direction: column;
    margin: var(--lumo-space-xs) var(--lumo-space-xs) 0;
    align-items: baseline;
}

.admin-inventory__header-top {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: baseline;
}

.admin-inventory__header-top > vaadin-text-field {
	flex-grow: 1;
	margin-right: var(--lumo-space-s);
}

.admin-inventory__header-top > vaadin-button {
	margin-right: var(--lumo-space-s);
}


.admin-inventory__header-bottom {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.admin-inventory__filters {
	display: flex;
	flex-direction: row;
	width: 100%;
    align-items: baseline;
    justify-content: space-evenly;
}

.admin-inventory__filters > vaadin-combo-box {
	min-width: 30%;
}

.admin-inventory__content {
    height: 100%;
    margin: var(--lumo-space-xs);
}