@media (max-width: 1024px)  {
	.transactions__header {
		flex-direction: column !important;
		align-items: center !important;
	}
	.transactions__dates {
		margin-left: 0 !important;
	}
}

.transactions {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.transactions__header {
	display: flex;
    flex-direction: row;
    margin: 5px 5px 0 5px;
    align-items: baseline;
}
.transactions__header vaadin-text-field {
    width: 100%;
}
.transactions__header vaadin-menu-bar {
    margin-right: var(--lumo-space-s);
    margin-left: var(--lumo-space-s);
}

.transactions__dates > vaadin-date-picker {
	max-width: 110px;
}

.transactions__content {
    height: 100%;
    margin: 2px 5px 2px 5px;
}