
@media (max-width: 1024px) {
	.inventory__header {
		flex-direction: column !important;
	}
	.inventory__header > vaadin-text-field {
    	width: 100%;
    }
	.inventory__additional_options {
		display: flex;
        width: 100%;
	}
	.inventory__additional_options > vaadin-checkbox {
		margin-right: auto;
	}
}

.inventory {
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: row;
}

.inventory__content-wrapper {
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column;
}

.inventory__header {
	display: flex;
	flex-direction: row;
	margin: 5px 5px 0 5px;
    align-items: center;
}
.inventory__header > vaadin-text-field {
	flex-grow: 1;
}

.inventory__additional_options {
    display: flex;
    align-items: center;
}
.inventory__additional_options > vaadin-button {
	margin-left: var(--lumo-space-s);
}

.inventory__content {
	display: flex;
	flex-direction: column;
	height: 100%;
    margin: 2px 5px 2px 5px;
}

.inventory__details-footer {
	background-color: var(--lumo-contrast-5pct);
    width: 100%;
    justify-content: space-between;
    padding-left: var(--lumo-space-m);
    padding-right: var(--lumo-space-m);
}


/*   MY TOOLS DIALOG   */
.my-tools-grid {
	min-width: 60vw;
}
