
@media (max-width: 1024px) {
	.inventory__header {
		flex-direction: column !important;
	}
}

.inventory {
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: row;
}

.inventory__content-wrapper {
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column;
}

.inventory__header {
	display: flex;
	flex-direction: column;
	margin: 5px 5px 0 5px;
    align-items: center;
}

.inventory__header-top {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: baseline;
}
.inventory__header-top > vaadin-button:not(:last-child) {
	margin-right: var(--lumo-space-s);
}
.inventory__header-top > vaadin-text-field {
	flex-grow: 1;
	margin-right: var(--lumo-space-s);
}

.inventory__header-bottom {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.inventory__filters[hidden] {
	display: none !important;
}
.inventory__filters {
	display: flex;
	flex-direction: row;
	width: 100%;
    align-items: baseline;
    justify-content: center;
}
.inventory__filters > vaadin-combo-box:not(:last-child) {
	margin-right: var(--lumo-space-s);
}
.inventory__filters > vaadin-combo-box {
	max-width: calc(100% / 3 - var(--lumo-space-s));
}



.inventory__content {
	display: flex;
	flex-direction: column;
	height: 100%;
    margin: 2px 5px 2px 5px;
}

.inventory__details-footer {
	background-color: var(--lumo-contrast-5pct);
    width: 100%;
    justify-content: space-between;
    padding-left: var(--lumo-space-m);
    padding-right: var(--lumo-space-m);
}


/*   MY TOOLS DIALOG   */
.my-tools-grid {
	min-width: 60vw;
}
.location-selection-layout {
	display: flex;
	flex-direction: row;
	align-items: baseline;
    justify-content: center;
}
.location-selection-layout > vaadin-combo-box {
	width: 50%
}
