
@media (max-width: 1024px) {
	.messages__header {
		flex-direction: column !important;
		align-items: center !important;
	}
	.messages__additional_options {
		margin-left: 0 !important;
		width: 100%;
	}
	.messages__additional_options > .compose-message-button {
		margin-left: auto !important;
	}
}

.messages {
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: row;
}

.messages__content-wrapper {
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column;
}

.messages__header {
	display: flex;
	flex-direction: column;
	margin: 5px 5px 0 5px;
    align-items: baseline;
}

.messages__header-top {
	width: 100%;
	display: flex;
    flex-direction: row;
    align-items: baseline;
}
.messages__header-top > vaadin-text-field {
	flex-grow: 1;
	margin-left: var(--lumo-space-s);
	margin-right: var(--lumo-space-s);
}

.messages__header-bottom {
	width: 100%;
	display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}

.messages__filters {
	display: flex;
    align-items: baseline;
}
.messages__filters > vaadin-date-picker:not(:last-child) {
	margin-right: var(--lumo-space-s);
}
.messages__filters > vaadin-date-picker {
	max-width: var(--date-picker-width);
}


.messages__content {
	display: flex;
	flex-direction: column;
	height: 100%;
    margin: 2px 5px 2px 5px;
}

.messages__details-footer {
	background-color: var(--lumo-contrast-5pct);
    width: 100%;
    justify-content: space-between;
    padding-left: var(--lumo-space-m);
    padding-right: var(--lumo-space-m);
}