
@media (max-width: 1024px) {
	.transactions__header {
		flex-direction: column !important;
		align-items: center !important;
	}
	.transactions__additional_options {
		margin-left: 0 !important;
	}
}

.transactions {
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: row;
}

.transactions__content-wrapper {
    width: 100%;
    height: 100%;
	display: flex;
	flex-direction: column;
}

.transactions__header {
	display: flex;
	flex-direction: row;
	margin: 5px 5px 0 5px;
}
.transactions__header > vaadin-text-field {
	width: 100%;
	padding-top: 0 !important;
}

.transactions__additional_options > vaadin-date-picker {
	max-width: 110px;
}

.transactions__content {
	display: flex;
	flex-direction: column;
	height: 100%;
    margin: 2px 5px 2px 5px;
}

.transactions__details-footer {
	background-color: var(--lumo-contrast-5pct);
    width: 100%;
    justify-content: space-between;
    padding-left: var(--lumo-space-m);
    padding-right: var(--lumo-space-m);
}