import '@polymer/polymer/lib/elements/custom-style.js';

<custom-style>
	<style>
    @media (max-width: 1024px) {
            .custom-dialog {
                min-width: 95vw !important;
            }
            .custom-dialog__content > .form {
                width: 100% !important;
            }
            .permission-row {
                flex-direction: column !important;
                align-items: center !important;
            }
            .permission-row__pa {
                width: 100% !important;
            }
    }


    /*      CUSTOM DIALOG      */

    .custom-dialog {
        display: flex;
        flex-direction: column;

        min-width: 400px;
		max-width: 95vw;
	    max-height: 90vh;
    }

    .custom-dialog__header {
        flex-direction: row;
        flex-shrink: 0;

        padding-top: var(--lumo-space-xs);
        padding-left: var(--lumo-space-m);
        padding-right: var(--lumo-space-m);
        padding-bottom: var(--lumo-space-s);

        box-shadow: inset 0 -1px var(--lumo-contrast-20pct);
        background-color: var(--lumo-contrast-5pct);
    }

    .custom-dialog__content {
        overflow: auto;
        flex-direction: column;

        padding: var(--lumo-space-s);
        -webkit-overflow-scrolling: touch;
    }

    .custom-dialog__footer {
		padding-left: var(--lumo-space-m);
        padding-right: var(--lumo-space-m);
        justify-content: space-between;

        box-shadow: inset 0px 1px var(--lumo-contrast-20pct);
        background-color: var(--lumo-contrast-10pct);
    }

    .custom-dialog__content > .form {
        width: 50vw;
    }



    /*      CONFIRM DIALOG      */

	.confirm-dialog {
        display: flex;
        flex-direction: column;
        max-width: 95vw;
        max-height: 90vh;
	}

	.confirm-dialog__header {
		display: flex;
		flex-direction: row;
		flex-shrink: 0;

		padding-top: var(--lumo-space-xs);
		padding-left: var(--lumo-space-s);
		padding-right: var(--lumo-space-m);
		padding-bottom: var(--lumo-space-xs);
		box-shadow: inset 0 -1px var(--lumo-contrast-20pct);
		background-color: var(--lumo-contrast-5pct);
	}

	.confirm-dialog__content {
		display: flex;
        overflow: auto;
        flex-direction: column;
		padding-left: var(--lumo-space-m);
        padding-right: var(--lumo-space-m);
        padding-top: var(--lumo-space-s);
        padding-bottom: var(--lumo-space-s);
        -webkit-overflow-scrolling: touch;
	}

	.confirm-dialog__footer {
        display: flex;
		padding-left: var(--lumo-space-m);
        padding-right: var(--lumo-space-m);
        justify-content: space-between;

        background-color: var(--lumo-contrast-10pct);
        box-shadow: inset 0px 1px var(--lumo-contrast-20pct);
    }




    /*      FORGOT PASSWORD      */

    .forgot-password-dialog__content > vaadin-email-field{
		min-width: 30vw;
		width: 100%;
    }




    /*      PERMISSIONS      */

    .permissions-dialog__content_header {
		display: flex;
		flex-direction: row;
    }

    .permissions-dialog__content_header > .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-right: var(--lumo-space-s);
    }

    .permissions-dialog__content_header > .right {
        display: flex;
        flex-direction: column;
    }

    .permissions-dialog__content_header > hr {
		margin-top: var(--lumo-space-s);
		margin-bottom: var(--lumo-space-s);
    }

    .permissions-dialog__content {
		flex-direction: column;
    }

	.permissions-dialog__content_header > .h4 {
		margin-top: var(--lumo-space-xs);
	}

    .permission-row {
		display: flex;
		flex-direction: row;
	    align-items: baseline;
    }
    .permission-row > hr {
        margin-top: var(--lumo-space-s);
    }

    .permission-row__ot {
		display: flex;
		flex-direction: row;
		width: 100%;
    }
    .permission-row__ot > vaadin-combo-box {
		margin-right: var(--lumo-space-s);
		flex-grow: 1;
    }

    .permission-row__pa {
		display: flex;
		flex-direction: row;
	    align-items: baseline;
    }
    .permission-row__pa > vaadin-combo-box {
		width: 80px;
		margin-right: var(--lumo-space-s);
    }

    .permission-row__tvb {
	    margin-left: auto;
    }


    /*      MESSAGES      */

    .messages__message_a_u_i_c {
        display: flex;
        align-items: baseline;
    }
    .messages__message_a_u_i_c > vaadin-combo-box {
       flex-grow: 1;
    }

	/*      CAMERA      */

	.camera-dialog-hint {
	    text-align: center;
	    font-weight: bold;
	}


	/*      PDF      */

	.pdf-dialog {
        display: flex;
        flex-direction: column;

        width: 95vw;
        height: 90vh;
	}
	.pdf-dialog__content {
        flex-direction: column;

        width: 100%;
        height: 90vh;
	}

	.pdf-dialog__footer {
        flex-direction: row;
		width: 100%;

		padding-left: var(--lumo-space-m);
        background-color: var(--lumo-contrast-10pct);
        box-shadow: inset 0px 1px var(--lumo-contrast-20pct);
	}
	.pdf-dialog__footer > vaadin-button {
		margin-right: auto;
	}

	</style>
</custom-style>