/*****BORDER RADIUS*****/
.border-radius-s {
  border-radius: var(--lumo-border-radius);
}

.border-radius-m {
  border-radius: calc(var(--lumo-border-radius) * 2);
}

.border-radius-l {
  border-radius: calc(var(--lumo-border-radius) * 3);
}

.border-radius-100 {
  border-radius: 100%;
}


/*****ICON SIZE*****/
iron-icon.size-s {
  width: var(--lumo-icon-size-s);
  height: var(--lumo-icon-size-s);
}

iron-icon.size-m {
  width: var(--lumo-icon-size-m);
  height: var(--lumo-icon-size-m);
}

iron-icon.size-l {
  width: var(--lumo-icon-size-l);
  height: var(--lumo-icon-size-l);
}


/*****MARGIN*****/
/* Bottom */
.margin-b-a {
  margin-bottom: auto;
}
.margin-b-xs {
  margin-bottom: var(--lumo-space-xs);
}
.margin-b-s {
  margin-bottom: var(--lumo-space-s);
}
.margin-b-m {
  margin-bottom: var(--lumo-space-m);
}
.margin-b-l {
  margin-bottom: var(--lumo-space-l);
}
.margin-b-xl {
  margin-bottom: var(--lumo-space-xl);
}

/* Horizontal */
.margin-h-a {
  margin-left: auto;
  margin-right: auto;
}
.margin-h-xs {
  margin-left: var(--lumo-space-xs);
  margin-right: var(--lumo-space-xs);
}
.margin-h-s {
  margin-left: var(--lumo-space-s);
  margin-right: var(--lumo-space-s);
}
.margin-h-m {
  margin-left: var(--lumo-space-m);
  margin-right: var(--lumo-space-m);
}
.margin-h-l {
  margin-left: var(--lumo-space-l);
  margin-right: var(--lumo-space-l);
}
.margin-h-xl {
  margin-left: var(--lumo-space-xl);
  margin-right: var(--lumo-space-xl);
}
.margin-r-h-m {
  margin-left: var(--lumo-space-r-m);
  margin-right: var(--lumo-space-r-m);
}
.margin-r-h-l {
  margin-left: var(--lumo-space-r-l);
  margin-right: var(--lumo-space-r-l);
}

/* Left */
.margin-l-a {
  margin-left: auto;
}
.margin-l-xs {
  margin-left: var(--lumo-space-xs);
}
.margin-l-s {
  margin-left: var(--lumo-space-s);
}
.margin-l-m {
  margin-left: var(--lumo-space-m);
}
.margin-l-l {
  margin-left: var(--lumo-space-l);
}
.margin-l-xl {
  margin-left: var(--lumo-space-xl);
}

/* Right */
.margin-r-a {
  margin-right: auto;
}
.margin-r-xs {
  margin-right: var(--lumo-space-xs);
}
.margin-r-s {
  margin-right: var(--lumo-space-s);
}
.margin-r-m {
  margin-right: var(--lumo-space-m);
}
.margin-r-l {
  margin-right: var(--lumo-space-l);
}
.margin-r-xl {
  margin-right: var(--lumo-space-xl);
}

/* Tall */
.spacing-tall-xs {
  margin: var(--lumo-space-tall-xs);
}
.margin-tall-s {
  margin: var(--lumo-space-tall-s);
}
.margin-tall-m {
  margin: var(--lumo-space-tall-m);
}
.margin-tall-l {
  margin: var(--lumo-space-tall-l);
}
.margin-tall-xl {
  margin: var(--lumo-space-tall-xl);
}

/* Top */
.margin-t-a {
  margin-top: auto;
}
.margin-t-xs {
  margin-top: var(--lumo-space-xs);
}
.margin-t-s {
  margin-top: var(--lumo-space-s);
}
.margin-t-m {
  margin-top: var(--lumo-space-m);
}
.margin-t-l {
  margin-top: var(--lumo-space-l);
}
.margin-t-xl {
  margin-top: var(--lumo-space-xl);
}

/* Uniform */
.margin-a {
  margin: auto;
}
.margin-xs {
  margin: var(--lumo-space-xs);
}
.margin-s {
  margin: var(--lumo-space-s);
}
.margin-m {
  margin: var(--lumo-space-m);
}
.margin-l {
  margin: var(--lumo-space-l);
}
.margin-xl {
  margin: var(--lumo-space-xl);
}

/* Vertical */
.margin-v-a {
  margin-bottom: auto;
  margin-top: auto;
}
.margin-v-xs {
  margin-bottom: var(--lumo-space-xs);
  margin-top: var(--lumo-space-xs);
}
.margin-v-s {
  margin-bottom: var(--lumo-space-s);
  margin-top: var(--lumo-space-s);
}
.margin-v-m {
  margin-bottom: var(--lumo-space-m);
  margin-top: var(--lumo-space-m);
}
.margin-v-l {
  margin-bottom: var(--lumo-space-l);
  margin-top: var(--lumo-space-l);
}
.margin-v-xl {
  margin-bottom: var(--lumo-space-xl);
  margin-top: var(--lumo-space-xl);
}
.margin-r-v-m {
  margin-bottom: var(--lumo-space-r-m);
  margin-top: var(--lumo-space-r-m);
}
.margin-r-v-l {
  margin-bottom: var(--lumo-space-r-l);
  margin-top: var(--lumo-space-r-l);
}

/* Wide */
.margin-wide-xs {
  margin: var(--lumo-space-wide-xs);
}
.margin-wide-s {
  margin: var(--lumo-space-wide-s);
}
.margin-wide-m {
  margin: var(--lumo-space-wide-m);
}
.margin-wide-l {
  margin: var(--lumo-space-wide-l);
}
.margin-wide-xl {
  margin: var(--lumo-space-wide-xl);
}


/*****PADDING*****/
/* Bottom */
.padding-b-xs {
  padding-bottom: var(--lumo-space-xs);
}
.padding-b-s {
  padding-bottom: var(--lumo-space-s);
}
.padding-b-m {
  padding-bottom: var(--lumo-space-m);
}
.padding-b-l {
  padding-bottom: var(--lumo-space-l);
}
.padding-b-xl {
  padding-bottom: var(--lumo-space-xl);
}

/* Horizontal */
.h-none {
    padding-left: 0px;
    padding-right: 0px;
}
.padding-h-xs {
  padding-left: var(--lumo-space-xs);
  padding-right: var(--lumo-space-xs);
}
.padding-h-s {
  padding-left: var(--lumo-space-s);
  padding-right: var(--lumo-space-s);
}
.padding-h-m {
  padding-left: var(--lumo-space-m);
  padding-right: var(--lumo-space-m);
}
.padding-h-l {
  padding-left: var(--lumo-space-l);
  padding-right: var(--lumo-space-l);
}
.padding-h-xl {
  padding-left: var(--lumo-space-xl);
  padding-right: var(--lumo-space-xl);
}
.padding-r-h-m {
  padding-left: var(--lumo-space-r-m);
  padding-right: var(--lumo-space-r-m);
}
.padding-r-h-l {
  padding-left: var(--lumo-space-r-l);
  padding-right: var(--lumo-space-r-l);
}

/* Left */
.padding-l-xs {
  padding-left: var(--lumo-space-xs);
}
.padding-l-s {
  padding-left: var(--lumo-space-s);
}
.padding-l-m {
  padding-left: var(--lumo-space-m);
}
.padding-l-l {
  padding-left: var(--lumo-space-l);
}
.padding-l-xl {
  padding-left: var(--lumo-space-xl);
}

/* Right */
.padding-r-xs {
  padding-right: var(--lumo-space-xs);
}
.padding-r-s {
  padding-right: var(--lumo-space-s);
}
.padding-r-m {
  padding-right: var(--lumo-space-m);
}
.padding-r-l {
  padding-right: var(--lumo-space-l);
}
.padding-r-xl {
  padding-right: var(--lumo-space-xl);
}

/* Tall */
.spacing-tall-xs {
  padding: var(--lumo-space-tall-xs);
}
.padding-tall-s {
  padding: var(--lumo-space-tall-s);
}
.padding-tall-m {
  padding: var(--lumo-space-tall-m);
}
.padding-tall-l {
  padding: var(--lumo-space-tall-l);
}
.padding-tall-xl {
  padding: var(--lumo-space-tall-xl);
}

/* Top */
.padding-t-xs {
  padding-top: var(--lumo-space-xs);
}
.padding-t-s {
  padding-top: var(--lumo-space-s);
}
.padding-t-m {
  padding-top: var(--lumo-space-m);
}
.padding-t-l {
  padding-top: var(--lumo-space-l);
}
.padding-t-xl {
  padding-top: var(--lumo-space-xl);
}

/* Uniform */
.padding-xs {
  padding: var(--lumo-space-xs);
}
.padding-s {
  padding: var(--lumo-space-s);
}
.padding-m {
  padding: var(--lumo-space-m);
}
.padding-l {
  padding: var(--lumo-space-l);
}
.padding-xl {
  padding: var(--lumo-space-xl);
}

/* Vertical */
.v-none {
    padding-left: 0px;
    padding-right: 0px;
}
.padding-v-xs {
  padding-bottom: var(--lumo-space-xs);
  padding-top: var(--lumo-space-xs);
}
.padding-v-s {
  padding-bottom: var(--lumo-space-s);
  padding-top: var(--lumo-space-s);
}
.padding-v-m {
  padding-bottom: var(--lumo-space-m);
  padding-top: var(--lumo-space-m);
}
.padding-v-l {
  padding-bottom: var(--lumo-space-l);
  padding-top: var(--lumo-space-l);
}
.padding-v-xl {
  padding-bottom: var(--lumo-space-xl);
  padding-top: var(--lumo-space-xl);
}
.padding-r-v-m {
  padding-bottom: var(--lumo-space-r-m);
  padding-top: var(--lumo-space-r-m);
}
.padding-r-v-l {
  padding-bottom: var(--lumo-space-r-l);
  padding-top: var(--lumo-space-r-l);
}

/* Wide */
.padding-wide-xs {
  padding: var(--lumo-space-wide-xs);
}
.padding-wide-s {
  padding: var(--lumo-space-wide-s);
}
.padding-wide-m {
  padding: var(--lumo-space-wide-m);
}
.padding-wide-l {
  padding: var(--lumo-space-wide-l);
}
.padding-wide-xl {
  padding: var(--lumo-space-wide-xl);
}


/*****SHADOW*****/
.shadow-xs {
  box-shadow: var(--lumo-box-shadow-xs);
}
.shadow-s {
  box-shadow: var(--lumo-box-shadow-s);
}
.shadow-m {
  box-shadow: var(--lumo-box-shadow-m);
}
.shadow-l {
  box-shadow: var(--lumo-box-shadow-l);
}
.shadow-xl {
  box-shadow: var(--lumo-box-shadow-xl);
}

/*****BOX-SHADOW-BORDER*****/
.bsb-b {
	box-shadow: inset 0 -1px var(--lumo-contrast-20pct);
}
.bsb-l {
	box-shadow: inset 1px 0 var(--lumo-contrast-20pct);
}
.bsb-r {
	box-shadow: inset -1px 0 var(--lumo-contrast-20pct);
}
.bsb-t {
	box-shadow: inset 0 1px var(--lumo-contrast-20pct);
}


/*****SPACING*****/
/* Bottom */
.spacing-b-xs > *:not(:last-child) {
  margin-bottom: var(--lumo-space-xs);
}
.spacing-b-s > *:not(:last-child) {
  margin-bottom: var(--lumo-space-s);
}
.spacing-b-m > *:not(:last-child) {
  margin-bottom: var(--lumo-space-m);
}
.spacing-b-l > *:not(:last-child) {
  margin-bottom: var(--lumo-space-l);
}
.spacing-b-xl > *:not(:last-child) {
  margin-bottom: var(--lumo-space-xl);
}

/* Horizontal*/
.spacing-h-xs > *:not(:last-child) {
  margin-left: var(--lumo-space-xs);
  margin-right: var(--lumo-space-xs);
}
.spacing-h-s > *:not(:last-child) {
  margin-left: var(--lumo-space-s);
  margin-right: var(--lumo-space-s);
}
.spacing-h-m > *:not(:last-child) {
  margin-left: var(--lumo-space-m);
  margin-right: var(--lumo-space-m);
}
.spacing-h-l > *:not(:last-child) {
  margin-left: var(--lumo-space-l);
  margin-right: var(--lumo-space-l);
}
.spacing-h-xl > *:not(:last-child) {
  margin-left: var(--lumo-space-xl);
  margin-right: var(--lumo-space-xl);
}

/* Left */
.spacing-l-xs > *:not(:last-child) {
  margin-left: var(--lumo-space-xs);
}
.spacing-l-s > *:not(:last-child) {
  margin-left: var(--lumo-space-s);
}
.spacing-l-m > *:not(:last-child) {
  margin-left: var(--lumo-space-m);
}
.spacing-l-l > *:not(:last-child) {
  margin-left: var(--lumo-space-l);
}
.spacing-l-xl > *:not(:last-child) {
  margin-left: var(--lumo-space-xl);
}

/* Right */
.spacing-r-xs > *:not(:last-child) {
  margin-right: var(--lumo-space-xs);
}
.spacing-r-s > *:not(:last-child) {
  margin-right: var(--lumo-space-s);
}
.spacing-r-m > *:not(:last-child) {
  margin-right: var(--lumo-space-m);
}
.spacing-r-l > *:not(:last-child) {
  margin-right: var(--lumo-space-l);
}
.spacing-r-xl > *:not(:last-child) {
  margin-right: var(--lumo-space-xl);
}

/* Tall */
.spacing-tall-xs > *:not(:last-child) {
  margin: var(--lumo-space-tall-xs);
}
.spacing-tall-s > *:not(:last-child) {
  margin: var(--lumo-space-tall-s);
}
.spacing-tall-m > *:not(:last-child) {
  margin: var(--lumo-space-tall-m);
}
.spacing-tall-l > *:not(:last-child) {
  margin: var(--lumo-space-tall-l);
}
.spacing-tall-xl > *:not(:last-child) {
  margin: var(--lumo-space-tall-xl);
}

/* Top */
.spacing-t-xs > *:not(:last-child) {
  margin-top: var(--lumo-space-xs);
}
.spacing-t-s > *:not(:last-child) {
  margin-top: var(--lumo-space-s);
}
.spacing-t-m > *:not(:last-child) {
  margin-top: var(--lumo-space-m);
}
.spacing-t-l > *:not(:last-child) {
  margin-top: var(--lumo-space-l);
}
.spacing-t-xl > *:not(:last-child) {
  margin-top: var(--lumo-space-xl);
}

/* Uniform */
.spacing-xs > *:not(:last-child) {
  margin: var(--lumo-space-xs);
}
.spacing-s > *:not(:last-child) {
  margin: var(--lumo-space-s);
}
.spacing-m > *:not(:last-child) {
  margin: var(--lumo-space-m);
}
.spacing-l > *:not(:last-child) {
  margin: var(--lumo-space-l);
}
.spacing-xl > *:not(:last-child) {
  margin: var(--lumo-space-xl);
}

/* Vertical */
.spacing-v-xs > *:not(:last-child) {
  margin-bottom: var(--lumo-space-xs);
  margin-top: var(--lumo-space-xs);
}
.spacing-v-s > *:not(:last-child) {
  margin-bottom: var(--lumo-space-s);
  margin-top: var(--lumo-space-s);
}
.spacing-v-m > *:not(:last-child) {
  margin-bottom: var(--lumo-space-m);
  margin-top: var(--lumo-space-m);
}
.spacing-v-l > *:not(:last-child) {
  margin-bottom: var(--lumo-space-l);
  margin-top: var(--lumo-space-l);
}
.spacing-v-xl > *:not(:last-child) {
  margin-bottom: var(--lumo-space-xl);
  margin-top: var(--lumo-space-xl);
}

/* Wide */
.spacing-wide-xs > *:not(:last-child) {
  margin: var(--lumo-space-wide-xs);
}
.spacing-wide-s > *:not(:last-child) {
  margin: var(--lumo-space-wide-s);
}
.spacing-wide-m > *:not(:last-child) {
  margin: var(--lumo-space-wide-m);
}
.spacing-wide-l > *:not(:last-child) {
  margin: var(--lumo-space-wide-l);
}
.spacing-wide-xl > *:not(:last-child) {
  margin: var(--lumo-space-wide-xl);
}


/*****TYPOGRAPHY*****/
/* Colors */
.header-text {
  color: var(--lumo-header-text-color);
}
.body-text {
  color: var(--lumo-body-text-color);
}
.secondary-text {
  color: var(--lumo-secondary-text-color);
}
.tertiary-text {
  color: var(--lumo-tertiary-text-color);
}
.disabled-text {
  color: var(--lumo-disabled-text-color);
}
.primary-text {
  color: var(--lumo-primary-text-color);
}
.primary-contrast-text {
  color: var(--lumo-primary-contrast-color);
}
.error-text {
  color: var(--lumo-error-text-color);
}
.error-contrast-text {
  color: var(--lumo-error-contrast-color);
}
.success-text {
  color: var(--lumo-success-text-color);
}
.success-contrast-text {
  color: var(--lumo-success-contrast-color);
}

/* Headers */
.h1, .h2, .h3, .h4, .h5, .h6 {
  display: block;
  font-weight: 600;
  line-height: var(--lumo-line-height-xs);
}

.h1 {
  font-size: var(--lumo-font-size-xxxl);
}

.h2 {
  font-size: var(--lumo-font-size-xxl);
}

.h3 {
  font-size: var(--lumo-font-size-xl);
}

.h4 {
  font-size: var(--lumo-font-size-l);
}

.h5 {
  font-size: var(--lumo-font-size-m);
}

.h6 {
  font-size: var(--lumo-font-size-xs);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

/* Sizes */
.font-size-xxxl {
  font-size: var(--lumo-font-size-xxxl);
}

.font-size-xxl {
  font-size: var(--lumo-font-size-xxl);
}

.font-size-xl {
  font-size: var(--lumo-font-size-xl);
}

.font-size-l {
  font-size: var(--lumo-font-size-l);
}

.font-size-m {
  font-size: var(--lumo-font-size-m);
}

.font-size-s {
  font-size: var(--lumo-font-size-s);
}

.font-size-xs {
  font-size: var(--lumo-font-size-xs);
}

.font-size-xxs {
  font-size: var(--lumo-font-size-xxs);
}

/* Font weights */
.font-weight-medium {
  font-weight: 500;
}

.font-weight-bold {
  font-weight: bold;
}

/* Font families */
.monospace {
  font-family: 'SF Mono', 'Roboto Mono', 'Source Code Pro', monospace;
}

