<custom-style>
	<style>
        @media (max-width: 1024px) {
            .custom-dialog {
                width: 50vw !important;
                max-width: 50vw !important;
            }
        }

        @media(max-width: 719px) {
            .custom-dialog {
                min-width: 95vw !important;
            }
        }

        vaadin-dialog-overlay flow-component-renderer {
            display: flex;
        }

        .custom-dialog {
            display: flex;
            flex-direction: column;

            height: 100%;
            max-height: 100%;

            max-width: 40vw;

            overflow: hidden;
            z-index: 0;
        }

        .custom-dialog__header {
            display: flex;
            flex-direction: row;
            flex-shrink: 0;

            padding-top: var(--lumo-space-xs);
            padding-left: var(--lumo-space-m);
            padding-right: var(--lumo-space-m);
            padding-bottom: var(--lumo-space-s);
            box-shadow: inset 0 -1px var(--lumo-contrast-20pct);
        }

        .custom-dialog__content {
            flex: 1;
            overflow: auto;
            flex-direction: column;

            padding-top: var(--lumo-space-s);
            padding-left: var(--lumo-space-m);
            padding-right: var(--lumo-space-m);
            padding-bottom: var(--lumo-space-s);
            -webkit-overflow-scrolling: touch;
        }

        .custom-dialog__footer {
            display: flex;
            flex-shrink: 0;

            justify-content: space-between;
            background-color: var(--lumo-contrast-5pct);
        }


	</style>
</custom-style>

<dom-module id="dialog-custom-style" theme-for="vaadin-dialog-overlay">
	<template>
		<style>
			[part="content"] {
				padding: 0px;
				display: flex;
			}
			[part="overlay"] {
				display: flex;
				overflow: hidden;
			}
		</style>
	</template>
</dom-module>