@media (max-width: 1024px) {
	.admin-transactions__header {
		flex-direction: column;
	}

	.admin-transactions__dates {
		margin-left: 0 !important;
		width: 100%  !important;
	}
	.admin-transactions__dates > vaadin-date-picker {
	    max-width: 30%;
	}
	.admin-transactions__dates > vaadin-button {
        flex-grow: 1;
    }
}