import '@polymer/polymer/lib/elements/custom-style.js';

<custom-style>
	<style>

	.details-drawer__content {}

	.form > .h4 {
    	margin-top: var(--lumo-space-m);
    }

    .form > hr {
        margin-top: var(--lumo-space-s);
        margin-bottom: var(--lumo-space-s);
    }

    .form > div[invisible] {
        display: none !important;
    }

	.container-space-between {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	    align-items: baseline;
	}

	.container-align-right {
		display: flex;
	    flex-direction: row;
	    align-items: baseline;
	}

	.container-align-center {
		display: flex;
	    flex-direction: row;
	    align-items: baseline;
        justify-content: center;
	}

	</style>
</custom-style>
