.grid-view {
    transition: padding var(--transition-duration-xs);
    webkit-overflow-scrolling: touch;
    text-overflow: ellipsis;
}

[part~="cell"] {
	font-weight: 500;
}

::-webkit-scrollbar {
    width: var(--lumo-space-s);
    height: var(--lumo-space-s);
}
::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    box-shadow: inset 0 0 6px rgba (0,0,0,.3);
}
::-webkit-scrollbar-track {
    background-color: var(--lumo-base-color);
}
