@media (max-width: 1023px) {
}


.list-item {
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

.list-item__content {
	display: flex;
    flex-direction: row;
    align-items: center;
}

.list-item__prefix, .list-item__suffix {
	display: flex;
	flex-shrink: 0;
}

.list-item__prefix {
	margin-right: var(--lumo-space-m);
}

.list-item__suffix {
	margin-left: var(--lumo-space-l);
}




