.view-frame {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	overflow: hidden;
}

.view-frame__content {
	width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    background-color: var(--lumo-tint-10pct);
    -webkit-overflow-scrolling: touch;
}
.view-frame__details {

}
