/* Admin */

/*Content*/
.admin-content-view {
    height: 100%;
    margin-left: 5px;
    margin-right: 5px;
}

@media (max-width: 1024px) {
	.admin-transactions__header {
		flex-direction: column;
	}

	.admin-transactions__dates {
		margin-left: 0 !important;
		width: 100%  !important;
	}
	.admin-transactions__dates > vaadin-date-picker {
		flex-grow: 1;
	}
	.admin-transactions__dates > vaadin-button {
        flex-grow: 1;
    }
}


/* Companies */

/* Personnel */

/* Inventory */