/* Admin */

@media (min-width: 1000px) {
    .admin-personnel__search {
        width: 400px;
        max-width: 400px;
    }

    .admin-companies__search {
        width: 400px;
        max-width: 400px;
    }
}


/* Personnel */
.admin-personnel__header {
    padding: 0px;
}

.admin-personnel__search {
    max-width: 200px;
}

.admin-personnel__empty-space {
    width: 100%;
}

.admin-personnel__new-user-button {
    min-width: fit-content;
    align-self: flex-end;
}


/* Companies */
.admin-companies__header {
    padding: 0px;
}

.admin-companies__search {
    max-width: 200px;
}

.admin-companies__empty-space {
    width: 100%;
}

.admin-companies__new-company-button {
    min-width: fit-content;
    align-self: flex-end;
}
