/* Password Recovery */

/*Content*/
.password-reset-view {
    align-items: center;

	background-color: #242a2f;
}

.password-reset-view__logo-wrapper {
	justify-content: space-evenly;
	margin-bottom: 50px;
}
.password-reset-view__image {
	height: 100px;
}





.password-reset-view__form-wrapper {
	width: 400px;
	border-radius: 5px;
	justify-content: center;

	background-image: linear-gradient(var(--lumo-base-color), #182331);
}
.password-reset-view__form-layout {
	width: 95%;

	margin-bottom: 15px;
	margin-top: 15px;
}

@media (max-width: 1024px) {
	.password-reset-view__form-wrapper {
	    min-height: 100% !important;
	    min-width: 100% !important;
	}
	.password-reset-view__form-layout {
        justify-content: center;
    }
}