:root {
    --app-bar-height-desktop: var(--lumo-size-xl);
    --app-bar-height-mobile: var(--lumo-size-l);

    --navi-drawer-rail-width: calc(var(--lumo-size-m) * 1.75);
    --navi-drawer-width: calc(var(--lumo-size-m) * 6);
    --navi-item-indentation: calc(var(--lumo-icon-size-s) + var(--lumo-space-l));

    --details-drawer-width: calc(var(--lumo-size-m) * 11);
    --large-details-drawer-width: calc(var(--lumo-size-m) * 18);

    --transition-duration-s: 160ms;
    --transition-duration-m: 240ms;
    --transition-duration-l: 320ms;

    --custom-shadow: 0 2px 6px -1px var(--lumo-shade-40pct), 0 1px 20px -4px;
}
@media (max-width: 479px) {
    :root {
        --lumo-space-r-m: var(--lumo-space-s);
        --lumo-space-r-l: var(--lumo-space-m);
        --lumo-space-r-x: 0;

        --lumo-space-wide-r-m: var(--lumo-space-wide-s);
        --lumo-space-wide-r-l: var(--lumo-space-wide-m);
    }
}
@media (min-width: 480px) and (max-width: 1023px) {
    :root {
        --lumo-space-r-m: var(--lumo-space-s);
        --lumo-space-r-l: var(--lumo-space-m);
        --lumo-space-r-x: var(--lumo-space-m);

        --lumo-space-wide-r-m: var(--lumo-space-wide-s);
        --lumo-space-wide-r-l: var(--lumo-space-wide-m);
    }
}
@media (min-width: 1024px) {
    :root {
        --lumo-space-r-m: var(--lumo-space-m);
        --lumo-space-r-l: var(--lumo-space-l);
        --lumo-space-r-x: var(--lumo-space-l);

        --lumo-space-wide-r-m: var(--lumo-space-wide-m);
        --lumo-space-wide-r-l: var(--lumo-space-wide-l);
    }
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.app-header-outer, .app-footer-outer {
    z-index: 3;
}

.custom-notification {
	min-width: 100vw;
	min-height: 25px;
	cursor: pointer;
	color: var(--lumo-primary-contrast-color);
	align-items: center;

}
.custom-notification-label {
	width: 100vw;
	cursor: pointer;
	font-weight: bold;
	text-align: center;
}

vaadin-context-menu-item {
	cursor: pointer;
}

hr {
	margin: 0;
}

::-webkit-scrollbar {
    width: var(--lumo-space-s);
    height: var(--lumo-space-s);
}
::-webkit-scrollbar-thumb {
    background-color: #a6a6a6;
    box-shadow: inset 0 0 6px rgba (0,0,0,.3);
}
::-webkit-scrollbar-track {
    background-color: var(--lumo-base-color);
}