[part="backdrop"] {
	background-color: var(--lumo-shade-80pct);
}
[part="content"] {
	padding: 0px;
	display: flex;
}
[part="overlay"] {
	display: flex;
	overflow: hidden;
}

:host {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}